@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --shadow: 0px 3px 5px 2px grey;
}
body,
html {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
}

body.active {
  overflow-y: hidden;
}

main {
  flex: 3;
  padding: 10px;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: darkred;
}

h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: darkred;
}
section.me {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: thin solid lightgray;
  margin-bottom: 15px;
}
.profile-container {
  width: 250px;
}
section.me img {
  position: relative;
  z-index: 1;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

section.me .about-me {
  position: relative;
  left: -5px;
  box-shadow: var(--shadow);
  height: min-content;
  padding: 10px;
  padding-left: 15px;
  border-radius: 5px;
  color: rgb(44, 13, 2);
}

section.my-work {
  display: flex;
  flex-direction: column;
}

.my-work > .cards {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}

.card {
  min-width: 200px;
  min-height: 100px;
  flex: 1;
  box-shadow: var(--shadow);
  border-radius: 10px;
  transition: transform 0.4s ease;
  position: relative;
  background: whitesmoke;
  color: rgb(22, 17, 55);
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.carousel {
  position: relative;
  min-height: 200px;
  overflow: hidden;
}

.carousel span {
  position: absolute;
  opacity: 0;
}
.carousel > img {
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  border-radius: 10px 10px 0px 0px;
}

.carousel > img.active {
  opacity: 1;
  pointer-events: all;
}

.carousel.active {
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.carousel.active > img {
  max-width: 70%;
}

.carousel.active span {
  color: white;
  opacity: 1;
}

.carousel.active .left {
  left: 10px;
}

.carousel.active .right {
  right: 10px;
}

.carousel.active .close {
  right: 5px;
  top: 5px;
}

.info {
  padding: 20px;
}

footer {
  flex: 1;
  background: darkred;
  color: white;
  padding: 25px;
}

footer p {
  margin-bottom: 8px;
}

footer h2,
footer h3 {
  color: white;
  margin-bottom: 10px;
}

footer ul {
  list-style-type: none;
  font-size: 14px;
}

footer ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: white;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 3px;
}
@media (max-width: 700px) {
  .my-work > .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .my-work > .cards {
    grid-template-columns: 1fr;
  }
}
