* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

body.active {
  overflow-y: hidden;
}

main {
  flex: 3;
  padding: 10px;
}

section.my-work {
  display: flex;
  flex-direction: column;
}

.my-work > .cards {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}

.card {
  min-width: 200px;
  min-height: 100px;
  flex: 1;
}

.carousel {
  position: relative;
  min-height: 200px;
  overflow: hidden;
}

.carousel span {
  position: absolute;
  opacity: 0;
}
.carousel > img {
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

.carousel > img.active {
  opacity: 1;
  pointer-events: all;
}

.carousel.active {
  background-image: none !important;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.carousel.active > img {
  max-width: 70%;
}

.carousel.active span {
  color: white;
  opacity: 1;
}

.carousel.active .left {
  left: 10px;
}

.carousel.active .right {
  right: 10px;
}

.carousel.active .close {
  right: 5px;
  top: 5px;
}

footer {
  flex: 1;
  background: rgb(155, 59, 245);
}
@media (max-width: 700px) {
  .my-work > .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .my-work > .cards {
    grid-template-columns: 1fr;
  }
}
